#container {
	background-color:#fff;
	width: 1024px;
	height: 100px;
	margin: 0 auto;
}

hr.line2{
	border-top: 4px solid rgb(24,189,222);
	border-radius: 15%;
	margin: 0px 0px 5px;
}	

/* ==================================== section ====================================== */

section {
	background-color:#fff;
	float: left;
	width: 1024px;
	height: 800px;
	overflow: hidden;
	
}

.main-visual-wrap{
	width: 1024px;
	height: 720px;
}

.bx-controls {
	width: 1024px;
	height: 0px;
}

.bx-wrapper {
	position: relative;
	max-width: 100%;
 	margin: auto; 
}
/* ============================================== */
*{ 
	margin: 0; padding: 0; 
}
.bx-viewport {
	position: relative;
	overflow: hidden;
	height: 720px;
	border-radius: 10px;
}
  
.slider-box {
	display: flex;
	transform: translate(0, 0);
	border-radius: 10px;
	width: 1024px;
	height: 720px;
 }
  
.visual {
	flex: 0 0 100%;
	list-style: none;
	border-radius: 10px;
}
  
.visual-image {
	display: block;
	width: 1024px; 
	height: 720px;
	object-fit: cover;
	border-radius: 10px;
}
  
.bx-prev { 
	position: absolute;
	background-image: url(../images/rewind.png);
	background-size: 100% 100%;
	background-color: #fff;
	border: none;
	width: 50px;
	height: 50px; 
	top: 1095px;
	left: 770px;
}

.bx-next { 
	position: absolute;
	background-image: url(../images/next.png);
	background-size: 100% 100%;
	background-color: #fff;
	border: none;
	width: 50px;
	height: 50px;
	top: 1095px;
	right: 770px;
}

.bx-prev:hover { 
	transform: scale(1.2);
}	

.bx-next:hover { 
	transform: scale(1.2);
}

.paginations {
	position: absolute;
	top: 1110px;
	left: 804.715px;
	border: none;
}
  
.pagination {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-image: url(../images/circle.png);
	background-size: 100% 100%;
	margin-left: 15px;
	border: none;
}
  
.pagination.active {
	transform: scale(1.3);
}

.pagination:hover {
	transform: scale(1.3);
}

.pagination:not(:last-child) {
	margin-right: 0.3rem;
}

#visual-image1{
	background-image: url("../images/gansong.jpg");	
	background-size: 100% 100%;

}
#visual-image2{
	background-image: url("../images/park_sleepingdragon5.jpg");
	background-size: 100% 100%;
}
#visual-image3{
	background-image: url("../images/simwoojang1.jpg");
	background-size: 100% 100%;

}
#visual-image4{
	background-image: url("../images/gilsangsa1.jpg");
	background-size: 100% 100%;

}
#visual-image5{
	background-image: url("../images/napoleon4.jpg");
	background-size: 100% 100%;
}
#visual-image6{
	background-image: url("../images/berry.jpg");
	background-size: 100% 100%;
}
#visual-image7{
	background-image: url("../images/nurunggibaeksuk.jpg");
	background-size: 100% 100%;

}
#visual-image8{
	background-image: url("../images/leegomtang.jpg");
	background-size: 100% 100%;

}

.img-title-txt{
	font-family: 'Jua', sans-serif;
	font-size: 3.5rem;
    line-height: 30px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    position: relative;
    padding-top: 7px;
	text-align: center;
	margin-top: 490px;
	margin-bottom: 30px;
}

.img-description-txt {
	font-family: 'Dongle', sans-serif;
	font-size: 2.5rem;
    line-height: 30px;
    color: rgb(252, 252, 252);
    font-weight: 400;
    position: relative;
    padding-top: 7px;
	text-align: center;
}
  

		/* ==================================== aside ====================================== */

aside #members {
	border-radius: 25%;
	margin: 8px;
	color: rgb(24,189,222);
	text-decoration: none;
	border-right: 1px #fff solid;	
}

