* {
    box-sizing: border-box;
}

.find-password {
    position: relative;
    text-align: center;
    width: 100%;
}

.formPopupPassword {
    position: fixed;
    left: 50%;
    top: 0%;
    width: 500px;
    height: 500px;
    transform: translate(-50%, 5%);
    background-color: #fff;
    border: 3px solid orange;
    border-radius: 20px;
    z-index: 9;
}

.formContainer {
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 30px;
}

.pop-title-password h2 {
    font-family: 'Dongle', sans-serif;
	font-size: 5.8rem;
	color: orange;
	text-shadow: 2px 2px 2px orangered;
    text-align: center;
    margin: 15px auto;
    
}

.pop-password-inner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 460px;
    height: 80px;
}


.pop-password-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 80px;
    margin: 0 auto;
    
}

.pop-password-inner-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 80px;
    margin: 30px 
}

.btn-accept {
    font-family: 'Dongle', sans-serif;
	font-size: 1.5rem;
    width: 82px;
    height: 40px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: rgb(24,189,222); 
}

.btn-cancel {
    font-family: 'Dongle', sans-serif;
	font-size: 1.5rem;
    width: 82px;
    height: 40px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: rgb(24,189,222); 
}

.pop-password-inner strong{
    font-family: 'Dongle', sans-serif;
	font-size: 3rem;
    margin-right: 20px;
    
  }

.pop-password-inner button{
    font-family: 'Dongle', sans-serif;
	font-size: 1.3rem;
    width: 82px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: rgb(24,189,222); 
  }


  #password {
      width: 180px;
      height: 40px;
      font-size: 1rem;
      margin-right: 4px;
      margin-left: 63px;
      border: #000 1px solid;
      border-radius: 5px;
  }

 #passwordCheck {
      width: 180px;
      height: 40px;
      font-size: 1rem;
      margin-right: 3px;
      border: #000 1px solid;
      border-radius: 5px;
  }

  #idre {
    width: 180px;
    height: 40px;
    font-size: 1rem;
    margin-right: 3px;
    margin-left: 82px;
    padding: 0px;
    border: #000 1px solid;
    border-radius: 5px;
}
